<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kulun.energynet">
    <!-- 高德地图需要的权限 -->
    <!-- 用于进行网络定位 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 用于获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 用于访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" /> <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 用于写入缓存数据到扩展存储卡 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- 用于申请调用A-GPS模块 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 用于申请获取蓝牙信息进行室内定位 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.BLUETOOTH" /> <!-- 摄影机 -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.kulun.energynet.main.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/icon"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:resizeableActivity="true"
        android:maxAspectRatio="2.4"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name="com.kulun.energynet.mine.DriverclockActivity"></activity>
        <activity android:name=".login.PasswordLoginActivity"></activity>
        <activity android:name=".login.StartPageActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".main.MainActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:launchMode="singleTop">
            <intent-filter>
                <data
                    android:host="com.kulun.energynet.main"
                    android:scheme="kulun" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity android:name=".login.VeriCodeLoginActivity" />
        <activity android:name=".mine.AddCarActivity" />
        <activity android:name=".login.ForgetPasswordActivity" />
        <activity android:name=".login.RegisterActivity" />
        <activity android:name=".main.ChoseCityActivity" />
<!--        <activity android:name=".mine.CouponActivity" />-->
        <activity android:name="com.kulun.energynet.mine.CouponKtActivity"/>
        <activity android:name=".mine.MessageActivity" />
        <activity android:name=".mine.PackageListActivity" />
        <activity android:name=".mine.MyCarActivity" />
        <activity
            android:name=".mine.RechargeActivity"
            android:launchMode="singleTop" />
        <activity android:name=".mine.AppointmentKtActivity" />
        <activity android:name=".mine.ScanActivity" />
        <activity android:name=".mine.SystemSettingActivity" />
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleInstance" />
        <activity android:name=".mine.PersonalActivity" />
        <activity android:name=".mine.ChangePasswordActivity" />
        <activity android:name=".login.UseProtocolActivity" />
        <activity android:name=".mine.PackageDetailActivity" />
        <activity android:name=".login.PrivacyActivity" />
        <activity android:name=".mine.CarbindApplyActivity"/>
        <activity android:name=".bill.BillActivity"/>
        <activity android:name=".bill.RefundActivity" android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity android:name=".bill.BillRechargeDetailsActivity"/>
        <activity android:name=".bill.BillRefundActivity"/>
        <activity android:name=".bill.BillActivityActivity"/>
        <activity android:name=".bill.BillConsumeActivity"/>
        <activity android:name=".bill.QuestionActivity"></activity>
        <activity android:name=".bill.QuestionShowActivity"/>
        <activity android:name=".bill.EvaluateActivity"></activity>
        <activity android:name=".bill.RefundDetailActivity"/>
<!--        <activity-->
<!--            android:name="com.amap.api.navi.AmapRouteActivity"-->
<!--            android:theme="@android:style/Theme.NoTitleBar"-->
<!--            android:configChanges="orientation|keyboardHidden|screenSize|navigation" />-->
        <activity
            android:name=".mine.MapCustomActivity"
            android:theme="@android:style/Theme.NoTitleBar"
            android:configChanges="orientation|keyboardHidden|screenSize|navigation" />
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="85ec83459c89cf6507678690ddae6d0f"></meta-data>

        <!--   0e5402f4afc16b838e484c94c77859c7     -->
        <service android:name="com.amap.api.location.APSService" />

<!--        <provider-->
<!--            android:name="androidx.core.content.FileProvider"-->
<!--            android:authorities="com.kulun.energynet.fileProvider"-->
<!--            android:exported="false"-->
<!--            android:grantUriPermissions="true">-->
<!--            <meta-data-->
<!--                android:name="android.support.FILE_PROVIDER_PATHS"-->
<!--                android:resource="@xml/file_paths" />-->
<!--        </provider>-->
        <provider
            android:name=".utils.MyFileProvider"
            android:authorities="com.kulun.energynet.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>